@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.application-header {
    background-color: rgb(219, 219, 219);
    height: 10%;
}

.application-name {
    text-align: center;
}

#open-list-form-button {
    display: block;
    margin: 0px auto;
}

#list-creation-form,
#task-creation-form {
    padding: 18px;
    height: fit-content;
    width: 35%;
    border-radius: 20px;
    background-color: rgb(219, 219, 219);
    margin: 10px auto;
    display: none;
}

#list-container {
    padding: 20px; /* or margin top */
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
}

.list {
    vertical-align: top;
    height: fit-content;
    width: 30%;
    border-radius: 12px;
    padding: 16px;
    background-color: rgb(219, 219, 219);
    float: none;
    display: inline-block;
    zoom: 1;
    margin: 0 0.65%;
}

.list-header-name {
    font-size: 32px;
}

.task {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    word-wrap: break-word;
}

.task:hover {
    cursor: move;
}

.task-name,
.task-date,
.task-content {
    margin: 0;
}

.task-name {
    color: red;
    margin-left: 8px;
}

.task-date {
    display: inline-block;
    margin-left: 8px;
}

.task-content {
    margin-left: 8px;
}

.list-header-save-as-csv-button,
.list-header-delete-button,
.list-header-load-as-csv-button,
.list-header-filter-button,
.list-header-new-task-button {
    width: 38px;
    height: 38px;
}

.task-delete-button {
    width: 22px;
    height: 22px;
}
