@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: rgb(219, 219, 219);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

#create-new-list-button {
    vertical-align: top;
    height: 300px;
    width: 30%;
    border-radius: 12px;
    padding: 16px;
    background-color: rgb(219, 219, 219);
    float: none;
    display: inline-block;
    zoom: 1;
    margin: 0 0.65%;
}

.application-header {
    background-color: rgb(219, 219, 219);
    height: 50px;
}

.application-name {
    text-align: center;
    margin: 0;
}

#open-list-form-button {
    display: block;
    margin: 0px auto;
}

#list-creation-form,
#task-creation-form {
    padding: 18px;
    height: fit-content;
    width: 35%;
    border-radius: 20px;
    background-color: rgb(219, 219, 219);
    margin: 10px auto;
    display: none;
}

#list-container {
    padding: 20px; /* or margin top */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 100vh;
}

.list {
    vertical-align: top;
    height: fit-content;
    width: 30%;
    border-radius: 12px;
    padding: 16px;
    background-color: rgb(219, 219, 219);
    float: none;
    display: inline-block;
    zoom: 1;
    margin: 0 0.65%;
}

.list-header-name {
    font-size: 28px;
}

.list-header-buttons-holder {
    display: flex;
    vertical-align: center;
    justify-content: space-around;
}

.task {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    overflow-wrap: break-word;
}

.task:hover {
    cursor: move;
}

.task-name,
.task-date,
.task-content {
    margin: 0;
}

.task-name {
    color: red;
    margin-left: 6px;
}

.task-date,
.task-content {
    margin-left: 6px;
}

.task-content {
    word-wrap: break-all;
    white-space: normal;
}

.list-header-save-as-csv-button,
.list-header-delete-button,
.list-header-load-as-csv-button,
.list-header-filter-button,
.list-header-new-task-button,
.list-header-order-by-due-date-button {
    background-color: rgb(219, 219, 219);
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    width: 30px;
    height: 30px;
}

.task-delete-button {
    width: 22px;
    height: 22px;
}

.list-header-button-active {
    background-color: grey;
}

.task-done {
    background-color: rgb(219, 219, 219);
    font-style: italic;
    text-decoration: line-through;
}

#csv-import-form {
    z-index: 1;
    width: 80%;
    height: fit-content;
    max-width: 400px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#csv-import-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close-csv-import-form-button {
    background-color: rgb(219, 219, 219);
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    width: 20px;
    height: 20px;
}

#csv-import-form-input-text {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    height: 40vh;
    resize: none;
}

#load-csv-button {
    margin-top: 12px;
    width: 100%;
    color: black;
}

.csv-import-form-rules {
    border: 2px solid rgba(255, 166, 0, 0.4);
    border-radius: 16px;
    background-color: rgba(255, 255, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 18px;
}

.csv-import-form-rule-text {
    width: 80%;
    margin: 10px;
}

.form-rules-warning-sign {
    width: 40px;
    height: 40px;
}

.hidden {
    display: none;
}

.blurred {
    filter: blur(4px); 
}

.task-dragging {
    transform: rotateZ(5deg);
}
